---
import { type Project } from "@/data/projects";
import Card from "@/components/ui/Card.astro";
import IconSkill from "@/components/ui/IconSkill.astro";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="items-repeat mb-20">
  {
    projects.map((project) => (
      <Card
        class="h-[26rem] p-0 project-container hover:shadow-indigo-600 shadow-card"
        icons={project.technologies.map(({ name }) => name).join(",")}
      >
        <a href={`/projects/${project.id}`}>
          <div class="h-48 w-full flex justify-center">
            <img class="h-full" src={project.logo} alt={project.name} />
          </div>

          <div class="w-full h-full p-3">
            <h2
              class="text-center font-bold text-xl mb-3"
              transition:name={`title-${project.name}`}
            >
              {project.name}
            </h2>

            <p class="text-center min-h-[52px]">{project.summary}</p>

            <div class="flex justify-center flex-wrap gap-1 mt-2">
              {project.importantTechnologies.map(({ Icon, name }) => (
                <IconSkill Icon={Icon} name={name} textSize="xs" />
              ))}
            </div>
          </div>
        </a>
      </Card>
    ))
  }
</div>
